.drawer {
  position: fixed;
  top: 0;
  right: -1000px; /* Hidden by default */
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease; /* Smooth transition */
  overflow-y: scroll;
  z-index: 1000; /* Ensure it's above other content */
}

.drawer.open {
  right: 0; /* Slide in when open */
}

.drawer-content {
  padding: 20px;
}

.drawer-title {
  font-size: 24px;
}

.drawer-item {
  padding: 10px 0;
}

.drawer-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.drawer-slider {
  display: flex;
  align-items: center;
  font-size: 24px;
  justify-content: space-between;
  margin-bottom: 10px;
}
.drawer-close {
  cursor: pointer;
}
